doctype html
html(lang="en")
    head
        include admin_head
    body(ng-app="ssAuth").fixed-header.smart-style-1
        header#header
            span#logo(style="margin-left: 10px; color: #fff")
                |Spaceship Samurai Services
            div#logout.btn-header.transparent.pull-right
                span.pull-right
                    a(href="/logout", title="Sign Out")
                        i.fa.fa-sign-out
        aside#left-panel
            include leftnav
        div#main(role="main")
            div#content(ui-view)
        include admin_scripts