title Spaceship Samurai Services
link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css")
link(rel="stylesheet", href="/css/bootstrap/font-awesome.min.css")
link(rel="stylesheet", href="/css/smartadmin/smartadmin-production.min.css")
link(rel="stylesheet", href="/css/smartadmin/smartadmin-skins.min.css")
link(rel="stylesheet", href="/css/site.css")