title Spaceship Samurai Services
link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css")
link(rel="stylesheet", href="/css/bootstrap/font-awesome.min.css")
link(rel="stylesheet", href="/css/coloradmin/style.min.css")
link(rel="stylesheet", href="/css/coloradmin/style-responsive.min.css")
link(rel="stylesheet", href="/css/coloradmin/theme/blue.css")
link(rel="stylesheet", href="/css/site.css")