script(type="text/javascript", src="/vendor/jquery/dist/jquery.js")
script(type="text/javascript", src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js")
script(type="text/javascript", src="/vendor/angular/angular.js")
script(type="text/javascript", src="/vendor/angular-resource/angular-resource.js")
script(type="text/javascript", src="/vendor/angular-route/angular-route.js")
script(type="text/javascript", src="/vendor/angular-cookies/angular-cookies.js")
script(type="text/javascript", src="/vendor/angular-ui-router/release/angular-ui-router.min.js")
script(type="text/javascript", src="/app/ssAuth.js")
script(type="text/javascript", src="/app/account/account.controller.js")
script(type="text/javascript", src="/app/account/account.routes.js")
script(type="text/javascript", src="/app/dashboard/DashboardCtrl.js")
script(type="text/javascript", src="/app/shared/session.service.js")
script(type="text/javascript", src="/app/shared/nav.controller.js")
script(type="text/javascript", src="/app/keys/KeyCtrl.js")
script(type="text/javascript", src="/app/keys/KeyService.js")
script(type="text/javascript", src="/app/services/ServicesCtrl.js")
script(type="text/javascript", src="/app/characters/CharacterService.js")
script(type="text/javascript", src="/js/smartadmin/app.min.js")
script(type="text/javascript", src="/app/groups/group.controller.js")
script(type="text/javascript", src="/app/groups/group.routes.js")
script(type="text/javascript", src="/app/recruitment/recruitment.routes.js")
script(type="text/javascript", src="/app/recruitment/recruitment.controller.js")