nav(ng-controller="NavCtrl")
    ul
        li(ui-sref-active="active")
            a(ui-sref="dashboard")
                i.fa.fa-lg.fa-fw.fa-home
                span.menu-item-parent Dashboard
        li(ui-sref-active="active")
            a(ui-sref="keys")
                i.fa.fa-lg.fa-fw.fa-key
                span.menu-item-parent API Key Management
        li(ui-sref-active="active")
            a(ui-sref="services")
                i.fa.fa-lg.fa-fw.fa-cogs
                span.menu-item-parent Service Management
        li(ui-sref-active="active")
            a(ui-sref="groups.list")
                i.fa.fa-lg.fa-fw.fa-group
                span Group Management
        li(ui-sref-active="active", ng-show="isMemberOf('Recruiters')")
            a(href='#')
                i.fa.fa-lg.fa-fw.fa-envelope
                span.menu-item-parent Recruitment
            ul
                li(ui-sref-active="active")
                    a(ui-sref="recruitment.list") View Names
                li(ui-sref-active="active")
                    a(ui-sref="recruitment.add") Add Names
        li
            a(href="#")
                i.fa.fa-lg.fa-fw.fa-external-link
                span.menu-item-parent Hyperlinks
            ul
                li
                    a(href="//forums.spaceshipsamurai.com", target="_blank")
                        i.fa.fa-lg.fa-fw.fa-comment
                        span Forums
                        i.fa.fa-lg.fa-fw.fa-external-link.pull-right
                li
                    a(href="//kb.spaceshipsamurai.com", target="_blank")
                        i.fa.fa-lg.fa-fw.fa-bomb
                        span Killboards
                        i.fa.fa-lg.fa-fw.fa-external-link.pull-right
