div.row
   div.col-md-6
      textarea
      button.btn.btn-primary(ng-click="parse") Parse
   div.col-md-6
      label(for="location") Location:
      input(name="location", type="text", ng-model="newRecruits.location", placeholder="System Name")