body.bg-war-room {
  background-image: url("img/login_bg.jpg");
  background-size: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
[ng:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
