div.row
    div.col-md-4
        h1.pull-left(style="margin-bottom: 15px") My Registered Keys
    div.col-md-4
    div.col-md-4
        button.btn.btn-success.pull-right(ng-click="newKey = {}")
            i.fa.fa-plus(style="margin-right: 10px")
            | Create Key
div.row
    .col-lg-6.col-md-12
        include key_create
        key-panel(ng-repeat="key in keys", key="key")