doctype html
html(lang="en")
    head
        include ../shared/admin_head
    body.fixed-header.smart-style-1.bg-war-room
        div
            .container
                .row
                    .col-md-6.col-md-offset-3
                        .panel.panel-primary(style="margin-top: 30%")
                            .panel-heading
                                h3.panel-title Spaceship Samurai Auth System
                            .panel-body
                                h1 Password Reset
                                form(role="form", action="/account/password/forgot", method="post")
                                    .form-group
                                        label(for="email") Email
                                        input#email.form-control(type="text", placeholder="email", name="email")
                                    .pull-right
                                        button.btn.btn-primary(type="submit") Reset